
 body {
    background-image: url("../images/snow.png");
    
    /*background-color: red;*/
}

  
 header {
    background-color: #ffffff;
    height: 120px;
    border-bottom: 2px solid #cccccc;
    

}

 header h1 {
    font-family: Georgia , Times, 'Times New Roman', serif;
    background-color: #11948d;
    display: inline-block;
    margin:  0px 330px 0px 340px;
    padding: 50px 50px 30px 50px;
    height: 40px;
    color: #ffffff;
    font-size: 30px;  
}

 header nav {
    display: inline-block; 
    text-align: right;
   
}

 header nav a {
    padding: 10px;
    text-decoration: none;
    color: #777777;
    font-size: 20px;
   
}

.abt {

    background-color: #ffffff;
    width: 900px ;
    height: 400px; 
    margin: 30px 665px 0px 340px;
    margin-left: auto;
    margin-right: auto;
    
}

.abt h1 {
    font-family: Georgia , Times, 'Times New Roman', serif;
    color:#4aaaa5;
    font-size: 40px; 
    border-bottom: solid 4px #dddddd;
    padding: 20px 20px 20px 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.abt section article {
    float: right;
    font-size: 15px; 
    margin-left: auto;
    margin-right: auto;
}

.abt img {
     float: left;
     padding: 10px 10px 10px 50px;
}

footer {
    background-color: #666666;
    text-align: center; 
    float: clear;
    height: 50px;
    border-top: solid 6px #4aaaa5; 
}
