.contactContainer {

    position: relative;
    max-width: 960px;
    margin:auto;

    
}


.box1 {
    
    position: absolute;
    top:0px;
    left:0px;
    width: 480px;
    height: 450px;
    background-color: blue;
    color: white;
}

.box2 {
    position: absolute;
    top:0px;
    right:0px;
    width: 240px;
    height: 225px;
    background-color: rgb(247, 235, 235);
    color: rgb(17, 136, 86);
}