
 body {
    background-image: url("../images/snow.png");
    
    /*background-color: red;*/
    }

.headerContainer {
    font-family: Georgia , Times, 'Times New Roman', serif;
    background-color: #ffffff;
    
    }

header {
    height: 70px;
    border-bottom: 2px solid #cccccc;
    }

header h1 {
    background-color: #11948d;
    color: #ffffff;
    font-size: 30px;  
    padding: 20px 5px;
}

header nav a {
    text-decoration: none;
    color: #851515;
    font-size: 17px;     
    padding: 10px;    
}

.headName {
    float: left;
    margin-left: 315px;
}

.anchor { 
    float: right;    
    margin-right: 315px;
    margin-top: 25px;
     }


.abt {

    background-color: #ffffff;
    width: 900px;
    height: 400px; 
    margin: 30px 665px 0px 340px;
    margin-left: auto;
    margin-right: auto;
    
    }

.abt h1 {
    font-family: Georgia , Times, 'Times New Roman', serif;
    color:#4aaaa5;
    font-size: 40px; 
    border-bottom: solid 4px #dddddd;
    padding: 20px 20px 20px 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    }

.abt section article p {

    padding: 5px;
    font-size: 16px; 
    }

.abt section article {
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.abt img {
     float: left;
     padding: 10px 10px 10px 20px;
}

footer {
    background-color: #666666;
    text-align: center; 
    float: clear;
    height: 50px;
    border-top: solid 6px #4aaaa5; 
}
